.core-wrapper {
    position: relative;
    
    .core-loader {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transform: translateY(250%);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
